<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Listado de Empleados</span>
            <button class="btn btn-dark btn-lg float-right">Agregar</button>
            <table class="table table-striped mt-5">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Documento</th>
                    <th>Salario</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Joaquin</td>
                    <td>Perez</td>
                    <td>35533233</td>
                    <td>250000</td>
                    <td>
                      <i class="fas fa-edit fa-lg text-info mr-2"></i>
                      <i class="fas fa-trash-alt fa-lg text-danger"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Tomas</td>
                    <td>Perez</td>
                    <td>35533233</td>
                    <td>250000</td>
                    <td>
                      <i class="fas fa-edit fa-lg text-info mr-2"></i>
                      <i class="fas fa-trash-alt fa-lg text-danger"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Tomas</td>
                    <td>Gonzalez</td>
                    <td>35533233</td>
                    <td>250000</td>
                    <td>
                      <i class="fas fa-edit fa-lg text-info mr-2"></i>
                      <i class="fas fa-trash-alt fa-lg text-danger"></i>
                    </td>
                  </tr>
                  
                </tbody>
              </table>
        </div>
    </div>
</div>